/* Form */

.m-dialog {
    margin-top: 180px;
    width: 600px;
}

.type-error {
    background-color: #fecbca;
}

.c-mb0 {
    margin-bottom: 0;
}

.c-tar {
    text-align: right;
}

.rf-content {
    padding: 0 35px;
}

.ci-block {
    padding: 30px 65px 40px 65px;
}

.help-block-error {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
}

.f-content {
    border-radius: 0;
    border: 1px solid #071d70;
    background-color: #fff;
}

.f-header {
    text-align: center;
    height: 50px;
    border: none;
}

.f-title {
    font-family: MyriadProBold;
    font-size: 16px;
    color: #071d70;
}

.f-close {
    position: absolute;
    top: 4px;
    right: 8px;
}

.f-body {

}

.f-hint {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #000;
    background-color: #ffe490;
    padding: 0px 8px;
    display: none;    
}

.f-text {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    vertical-align: 1px;
}

.f-group {

}

.f-label {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    margin-bottom: 5px;
}

.f-control {
    border-radius: 0;
    border: 1px solid #38b2ce;
    height: 30px;
}

.f-icon {
    margin-left: 5px;
    width: 12px;
    height: 12px;
    display: none;
}

.f-icon-ok {
    background: url("../images/email-ok.png") no-repeat 0 0;
}

.f-footer {
    border: none;
}

.f-qtext {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.f-link {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

span.f-link:hover {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.f-button {
    font-family: MyriadProBold;
    font-size: 16px;
    color: #fff;
    background-color: #38b2ce;
    text-align: center;
    border-radius: 0;
    border: 1px solid #38b2ce;
}

.f-submit {
    width: 235px;
    height: 40px;
}

.f-checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 20px;
    height: 20px;
}

.f-checkbox + label {
    cursor: pointer;
}

.f-checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.f-checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 30px;
}

.f-checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #38b2ce;
    background: #fff;
}

.f-checkbox:checked + label:before {
    background: #fff url("../images/form-checkbox.png") no-repeat 0 0;
}

.f-input-group-addon {
    font-family: MyriadProBold;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid #38b2ce;
    border-left: none;
    background-color: #e8e6e6;
    color: #38b2ce;
    cursor: pointer;
}

.f-hint-password {
    background-color: #ceeef5;
}

.f-input-group-addon:hover + .f-hint-password {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 21px;
    text-decoration: underline;
    background-color: #ceeef5;
    display: block;
    top: -27px;
    left: 389px;
}

.f-textarea {
    font-family: Tahoma;
    font-size: 16px;
    width: 100%;
    height: 300px;
    background-color: #d5eded;
    border: none;
    padding: 10px;
    max-width: 836px;
    min-width: 418px;
    max-height: 300px;
    min-height: 300px;
}
