/* 
    Created on : 04.10.2015, 14:18:02
    Author     : Leon
*/

/* main */

.main {
    position: relative;
}

/* register response */

.register-response {
    text-align: center;
    background-color: #38B2CE;
}

.register-message {
    color: #fff;
    font-family: MyriadProBold;
    font-size: 16px;
    line-height: 35px;
}

/* search form */

.search {
    position: absolute;
    background-color: rgba(7, 29, 112, 0.9);
    right: 30px;
    top: 45px;
    width: 320px;
}

.search-simple {
    height: 310px;
}

.search-ext {
    height: 530px;
}

.search-headline {
    height: 10px;
    background-color: #38b2ce;
}

.search-form {
    padding: 20px 20px 0px 20px;
}

.search-button, .search-button:hover, .search-button:focus {
    color: #fff;
    text-align: center;
    background-color: #38b2ce;
    height: 35px;
    width: 100%;
}

.search-list {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 0;
    height: 360px;
    overflow: auto;
}

.search-list > li {
    background-color: #e8e6e6;
    margin-bottom: 2px;
}

.search-list > li > a {
    font-family: Tahoma;
    font-size: 14px;
    color: #000;
    white-space: pre-wrap;
}

.search-list > li > a:hover {
    background-color: #a4a1a1;
}

.search-text-button {
    font-family: MyriadProRegular;
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
}

.input-group .search-edit {
    width: 280px;
}

li.search-item-group > span {
    font-family: Tahoma;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background-color: #38b2ce;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    white-space: pre-wrap;
    text-align: right;
    cursor: default;
}

/* icons */

.icons {
    height: 110px;
    background-color: #fffcf4;
}

.icons-list {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 30px;
}

.icons-list-item {
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    width: 230px;
}

.icons-list-item > img {
    vertical-align: middle;
}

/* special offers */

.special-offers-header {
    background-color: #071d70;
}

.special-offers-header-title {
    font-family: MyriadProBold;
    font-size: 18px;
    color: #fff;
    line-height: 35px;
    display: block;
    width: 235px;
    margin: 0 auto;
    text-align: center;
}

.special-offers {
    background-color: #fffcf4;
}

.special-offer-comment, .special-offer-period {
    display: block;
    margin-bottom: 10px;
}

/* all special offers */

.all-special-offers {
    height: 120px;
    background-color: #fffcf4;
}

.all-special-offers-block {
    margin: 15px auto;
    width: 350px;
}

.special-offers-button, .special-offers-button:hover, .special-offers-button:focus {
    color: #fff;
    text-align: center;
    background-color: #38b2ce;
    width: 100%;
}

/* back to search */

.back-to-search {
    height: 90px;
    background-color: #fffcf4;
}

.back-to-search-block {
    margin: 25px 0;
    width: 350px;
}

.back-to-search-button, .back-to-search-button:hover, .back-to-search-button:focus {
    color: #fff;
    text-align: center;
    background-color: #38b2ce;
    width: 235px;
}

.allspoff-arrow {
    height: 30px;
    width: 100%;
//    width: 764px;
//    margin: 0 auto;
    cursor: pointer;
    background-color: #fffcf4;
}

.allspoff-arrow:hover {
    background-color: #ebe8e1;
}

.allspoff-arrow-up {
    background: #fffcf4 url("../images/arrow-up-a.png") no-repeat 50% 50%;
}

.allspoff-arrow-down {
    background: #fffcf4 url("../images/arrow-down-a.png") no-repeat 50% 50%;
}

.allspoff-arrow-up-na {
    background: #fffcf4 url("../images/arrow-up-na.png") no-repeat 50% 50%;
}

.allspoff-arrow-down-na {
    background: #fffcf4 url("../images/arrow-down-na.png") no-repeat 50% 50%;
}

.allspoff {
    background-color: #fffcf4;
    padding-bottom: 30px;
}

.allspoff-slider {
    position: relative;
    height: 1002px;
    overflow: hidden;
}

.allspoff-viewport {
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.allspoff-item {
    margin: 15px auto;
    width: 764px;
    height: 314px;
    text-align: center;
}

.spoff-item {
    display: inline-block;
    width: 380px;
    height: 100%;
    padding: 0 15px;
}

.spoff-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.spoff-title {
    height: 40px;
    text-align: center;
    padding-top: 4px;
}

.spoff-title-text {
    font-family: MyriadProBold;
    font-size: 18px;
    color: #071d70;
    vertical-align: -8px;
}

.spoff-image {
    border: 1px solid #071d70;
    margin-bottom: 10px;
    width: 352px;
    height: 212px;
}

.spoff-image > a > img {
    width: 100%;
    height: 100%;
}

.spoff-descr {
    text-align: center;
}

.spoff-descr-text, .spoff-descr-period {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    display: block;
    margin-bottom: 10px;
}












