/* 
    Created on : 04.10.2015, 14:18:02
    Author     : Leon
*/

/* main */

.main {
    position: relative;
}

/* register response */

.register-response {
    text-align: center;
    background-color: #38B2CE;
}

.register-message {
    color: #fff;
    font-family: MyriadProBold;
    font-size: 16px;
    line-height: 35px;
}

/* search form */

.search {
    position: absolute;
    background-color: rgba(7, 29, 112, 0.9);
    right: 30px;
    top: 45px;
    width: 320px;
}

.search-simple {
    height: 310px;
}

.search-ext {
    height: 530px;
}

.search-headline {
    height: 10px;
    background-color: #38b2ce;
}

.search-form {
    padding: 20px 20px 0px 20px;
}

.search-button, .search-button:hover, .search-button:focus {
    color: #fff;
    text-align: center;
    background-color: #38b2ce;
    height: 35px;
    width: 100%;
}

.search-list {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 0;
    height: 300px;
    overflow: auto;
}

.search-list > li {
    background-color: #e8e6e6;
    margin-bottom: 2px;
}

.search-list > li > a {
    font-family: Tahoma;
    font-size: 14px;
    color: #000;
}

.search-list > li > a:hover {
    background-color: #a4a1a1;
}

.search-text-button {
    font-family: MyriadProRegular;
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
}

.input-group .search-edit {
    width: 280px;
}

/* icons */

.icons {
    height: 110px;
    background-color: #fffcf4;
}

.icons-list {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 30px;
}

.icons-list-item {
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    width: 230px;
}

.icons-list-item > img {
    vertical-align: middle;
}

/* special offers */

.special-offers-header {
    background-color: #071d70;
}

.special-offers-header-title {
    font-family: MyriadProBold;
    font-size: 18px;
    color: #fff;
    line-height: 35px;
    display: block;
    width: 235px;
    margin: 0 auto;
}

.special-offers {
    background-color: #fffcf4;
}

.special-offer-comment, .special-offer-period {
    display: block;
    margin-bottom: 10px;
}

/* all special offers */

.all-special-offers {
    height: 120px;
    background-color: #fffcf4;
}

.all-special-offers-block {
    margin: 15px auto;
    width: 350px;
}

.special-offers-button, .special-offers-button:hover, .special-offers-button:focus {
    color: #fff;
    text-align: center;
    background-color: #38b2ce;
    width: 100%;
}




