/* styles for private-room */

.pr-room {
    background-color: #fffcf4;
}

/* Top tabs */

.nav-tabs_pr {
    height: 75px;
    background-color: #fffcf4;
    border: none;
}

.tab-pr {
    text-align: center;
}

.tab-pr_w1 {
    margin-top: 41px;
    width: 255px;
}

.tab-pr_w2 {
    width: 242px;
}

.tab-pr_right {
    margin-left: 35px;
}

.nav-tabs > li > a.tab-pr_a {
    font-family: MyriadProBold;
    font-size: 16px;
    color: #38b2ce;
    border-radius: 0;
    border: none;
    height: 32px;
    padding: 4px 0;
    background-color: #e8e6e6;
}

.nav-tabs > li > a.tab-pr_a-left {
    margin-right: 0;
}

.nav-tabs > li.active > a.tab-pr_a,
.nav-tabs > li.active > a.tab-pr_a:focus,
.nav-tabs > li.active > a.tab-pr_a:hover {
    background-color: #d5eded;
    color: #071d70;
    border: none;
}

.nav-tabs_t {
    border-bottom: none;
}

.tab-content_pr {
    background-color: #d5eded;
    margin-bottom: 30px;
}

.tab-content__info {
    margin-bottom: 40px;
}

.tab-content__info_h1 {
    height: 305px;
}

.tab-pane_pr {
    padding: 40px 40px 20px 40px;
}

#map-pr {
    background-color: #fff;
    width: 443px;
    height: 305px;
    border: 1px solid #071d70;
    float: left;
}

.content__info {
    margin-left: 540px;
}

.info {
    display: block;
}

.info__title {
    font-family: MyriadProBold;
    font-size: 18px;
    color: #071d70;
    margin-bottom: 8px;
}

.info__addr, .info__shedule {
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    color: #000;
    margin-bottom: 4px;
}

.info__shedule_m {
    margin-left: 20px;
}

.info__phone {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 600;
    color: #000;    
    margin-bottom: 8px;
}

.info__change > a {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    color: #006;    
    margin-bottom: 8px;
}

/* Bottom tabs */

.tabs_t {
    background-color: #fff;
    border: 2px solid #fff;
}

.tab-pr_ls {
    width: 240px;
}

@media all and (max-width: 992px) {

    .tab-pr_ls {
        margin-top: 3px;
    }
    
    .tab-pr_fs {
        margin-left: 0;
    }
    
    .tab-pr_td {
        margin-top: 3px;
    }

    .tabs_t {
        width: 670px;
    }

    .tab-content__info_t {
        padding: 0;
    }
    
    .nav-tabs_t {
        padding: 0 90px;
    }
    
}

@media all and (min-width: 992px) and (max-width: 1200px) {

    .tab-pr_ls {
        margin-left: 262px;
        margin-top: 3px;
    }
    
    .tab-pr_fs {
        margin-left: 20px;
    }

    .tab-pr_td {
        margin-top: 0;
    }

    .tabs_t {
        width: 770px;
    }
    
    .tab-content__info_t {
        padding: 0 60px;
    }
    
    .nav-tabs_t {
        padding: 0;
    }
    
}

@media all and (min-width: 1200px) {

    .tab-pr_ls {
        margin-top: 0;
    }
    
    .tab-pr_fs {
        margin-left: 0;
    }

    .tab-pr_td {
        margin-top: 0;
    }

    .tabs_t {
        width: 100%;
    }
    
    .tab-content__info_t {
        padding: 0 60px;
    }
    
    .nav-tabs_t {
        padding: 0;
    }
    
}    

.pr-room, .header1, .header2, .pre-footer, .footer {
    width: 100%;
}

@media all and (max-width: 760px) {

    .pr-room, .header1, .header2, .pre-footer, .footer {
        width: 760px;
    }

}

.arrow-ud {
    height: 40px;
    width: 100%;
//    cursor: pointer;
}
/*
.arrow_up-a {
    background: #fff url("../images/arrow-up-a.png") 50% 13px no-repeat;
}

.arrow_up-a:hover {
    background: #f8f8f7 url("../images/arrow-up-a.png") 50% 13px no-repeat;
}

.arrow_up-na {
    background: #fff url("../images/arrow-up-na.png") 50% 13px no-repeat;
}

.arrow_up-na:hover {
    background: #f8f8f7 url("../images/arrow-up-na.png") 50% 13px no-repeat;
}

.arrow_down-a {
    background: #fff url("../images/arrow-down-a.png") 50% 13px no-repeat;
}

.arrow_down-a:hover {
    background: #f8f8f7 url("../images/arrow-down-a.png") 50% 13px no-repeat;
}

.arrow_down-na {
    background: #fff url("../images/arrow-down-na.png") 50% 13px no-repeat;
}

.arrow_down-na:hover {
    background: #f8f8f7 url("../images/arrow-down-na.png") 50% 13px no-repeat;
}
*/

ul.info-s {
    list-style: none;
    padding: 0 35px;
    margin: 0;
}

.info__item {
    font-family: MyriadProBold;
    font-size: 16px;
    color: #000;
    line-height: 30px;
    background-color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.arrow-item {
    margin-left: 15px;
    display: inline-block;
}

.arrow-item-left {

}

.arrow-item-right {

}

.item-menu {
    list-style: none;
    width: 320px;
    padding-left: 0;
    display: none;
}

.item-menu_active {
    display: inline-block;
}

.item-menu_m {
    margin-left: 40px;
}

.item-menu__i {
    font-family: Tahoma;
    font-size: 14px;
    color: #000;
    background-color: #d5eded;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    cursor: pointer;
}

.item-menu__i:hover {
    background-color: #e9fafa;
}

.item-menu__i_first {
    background-color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
}

.item-menu__i_last {
    padding-bottom: 8px;
}

.info__item-label {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.item-menu__i-label {
    display: inline-block;
    width: 90%;
}

.info__chbx {
    display: inline-block;
    margin-top: 3px;
    float: right;
}

.info__chbx_all {
    margin-top: 8px;
    margin-left: 40px;
    float: none;
}

.info__cbx {
    width: 18px;
    height: 17px;
    background: #fff url("../images/im-cbx.png") 0 0 no-repeat;
    cursor: pointer;
    display: block;
}

.info__cbx-inline {
    width: 18px;
    height: 17px;
    background: #fff url("../images/im-cbx.png") 0 0 no-repeat;
    cursor: pointer;
    display: inline-block;
}

.info__cbx_active {
    width: 18px;
    height: 17px;
    background: #fff url("../images/im-cbx.png") -18px 0 no-repeat;
}

.info__cbx-caption {
    display: inline-block;
    font-family: Tahoma;
    font-size: 14px;
    margin-left: 6px;
    vertical-align: 3px;    
}

.s-off {
    padding: 30px 65px 60px 40px;
    height: 340px;
}

.s-off-ctrls {
    float: left;
}

.c-block {
    margin-bottom: 35px;
    position: relative;
}

.c-caption {
    font-family: Tahoma;
    font-size: 14px;
    color: #000;
    display: block;
    margin-bottom: 5px;
}

.s-off-caption_b {
    display: inline-block;
    margin-left: 0;
    margin-right: 10px;
}

.s-off-caption_e {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.s-off-btn, .s-off-btn:hover, .s-off-btn:focus {
    font-family: MyriadProBold;
    font-size: 14px;
    color: #fff;
    height: 30px;
    width: 125px;
    border-radius: 0;
    background-color: #679b00;
    padding: 0;
    vertical-align: top;
}

.s-off-btn_m {
    margin-left: 28px;
}

.c-edit {
    font-family: Tahoma;
    font-size: 14px;
    border-radius: 0;
    border: #38b2ce solid 1px;
    display: inline-block;
    height: 30px;
}

.s-off-edit_m {
    text-align: right;
    width: 190px;
    padding-top: 4px;
}

.s-off-edit_m2 {
    text-align: left;
    width: 470px;
}

#datepicker1, #datepicker2 {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    border: #38b2ce solid 1px;
    display: inline-block;
    height: 30px;
    width: 160px;
    padding: 0 5px;
}

#ui-datepicker-div {
    width: 160px;
    border-radius: 0;
    border: #38b2ce 1px solid;
    padding: 0;
}

#ui-datepicker-div > .ui-datepicker-header {
    background-color: #38b2ce;
    height: 25px;
    padding: 0;
    border-radius: 0;
    border: none;
    background-image: none;
}

#ui-datepicker-div > .ui-datepicker-header > .ui-datepicker-prev {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 24px;
}

#ui-datepicker-div > .ui-datepicker-header > .ui-datepicker-prev > span {
    background: #38b2ce url("../images/c-arrow-prev.png") -9px -4px no-repeat;
}

#ui-datepicker-div > .ui-datepicker-header > .ui-datepicker-next {
    border-radius: 0;
    top: 0;
    right: 0;
    height: 24px;
}

#ui-datepicker-div > .ui-datepicker-header > .ui-datepicker-next > span {
    background: #38b2ce url("../images/c-arrow-next.png") -6px -4px no-repeat;
}

#ui-datepicker-div > .ui-datepicker-header > .ui-datepicker-prev:hover,
#ui-datepicker-div > .ui-datepicker-header > .ui-datepicker-next:hover {
    background-color: #38b2ce;
    background-image: none;
    border: #fff solid 1px;
    cursor: pointer;
}

#ui-datepicker-div > .ui-datepicker-header > .ui-datepicker-title {
    background-color: #38b2ce;
    height: 25px;
    padding: 0;
    line-height: 1.1em;
}

#ui-datepicker-div > .ui-datepicker-header > .ui-datepicker-title > .ui-datepicker-month {
    font-family: MyriadProBold;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: #38b2ce;
}

#ui-datepicker-div > .ui-datepicker-header > .ui-datepicker-title > .ui-datepicker-year {
    display: none;
}

#ui-datepicker-div > .ui-datepicker-calendar {

}

#ui-datepicker-div > .ui-datepicker-calendar > thead > tr > th {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    color: #38b2ce;
    padding: 2px 0;
}

#ui-datepicker-div > .ui-datepicker-calendar > tbody > tr > td {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    color: #071d70;
}

#ui-datepicker-div > .ui-datepicker-calendar > tbody > tr > td > a {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    color: #071d70;
    background-color: #fff;
    background-image: none;
    text-align: center;
    border: none;
    line-height: 1em;
}

#ui-datepicker-div > .ui-datepicker-calendar > tbody > tr > td > a.ui-state-active {
    font-weight: 600;
}

.c-arrow {
    width: 28px;
    height: 28px;
    position: absolute;
    display: block;
    cursor: pointer;
}

.c-arrow_expand {
    background: #fff url("../images/c-arrow-expand.png") 0px 0px no-repeat;
}

.c-arrow_collapse {
    background: #fff url("../images/c-arrow-collapse.png") 0px 0px no-repeat;
}

.c-arrow_1 {
    left: 150px;
    top: 26px;
}

.c-arrow_2 {
    left: 353px;
    top: 26px;
}

.s-off-preview {
    float: right;
    width: 285px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.prtxt {
    font-family: MyriadProBold;
    font-size: 16px;
    display: block;
    width: 285px;
    text-align: center;
}

.prtxt_caption {
    text-decoration: underline;
    color: #000;
    margin-bottom: 10px;
}

.prtxt_title {
    color: #071d70;
    margin-bottom: 3px;
}

.prtxt_text {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.primg {
    width: 285px;
    height: 170px;
    margin-bottom: 3px;
}

.primg > img {
    width: 285px;
    height: 170px;
    border: 1px solid #071d70;
}
#s-br {
    display: none;
}

.opt {
    padding: 40px 315px 60px 315px;
}

.opt-title {
    font-family: MyriadProBold;
    font-size: 16px;
    color: #071d70;
    text-align: center;
    display: block;
}

.c-edit_m {
    margin-bottom: 10px;
}

.info-c__btn {
    padding: 0 65px 30px 40px;
    text-align: right;
}

.info-c__btn_m {
    padding: 0;
    height: 55px;
}

.c-block_m {
    margin: 0;
}

.c-block_m {
    margin-bottom: 10px;
}

.c-block_m2 {
    margin-bottom: 15px;
}

.c-cbx {
    background: #fff url("../images/op-cbx.png") 0px 0px no-repeat;
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: -0.4em;
    cursor: pointer;
}

.c-caption_m {
    display: inline-block;
    margin-right: 20px;
}

.opt-frm {
    margin: 0 280px;
    position: relative;
}

.frm-block {
    margin-bottom: 15px;
}

.frm-block_nm {
    margin-bottom: 0;
}

.frm-block_inline {
    display: inline-block;    
    margin-right: 50px;
    width: 120px;
}

.frm-block_ta {
    text-align: center;
}

.frm-block_top {
    vertical-align: top;
}

.frm-block_w {
    width: 175px;
    margin-right: 30px;
}

.frm-block_mb {
    margin-bottom: 40px;
}

.frm-header {
    font-family: MyriadProBold;
    font-size: 16px;
    color: #071d72;
}

.ctrl-title {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
}

.ctrl-title_mb {
    margin-bottom: 10px;
}

.text-edit {
    display: block;
    width: 100%;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border: 1px solid #39b2cf;
    height: 30px;
    padding: 0 10px;
}

.not-req {
    background-color: #e0dcdb;
}

.not-req-t {
    color: #918d8c;
}

.type-error {
    background-color: #fecbca;
}

.frm-hint {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #000;
    background-color: #ffe490;
    padding: 0px 8px;
    display: none;
}

.hint-text {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    vertical-align: 1px;
}

.week {
    list-style: none;
    padding: 0;
}

.period-caption {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-right: 8px;
    vertical-align: 22px;
}

.counter {
    width: 64px;
    height: 55px;
    border: 1px solid #39b2cf;
    background-color: #fff;
    display: inline-block;
    position: relative;
}

.cntr-arrow-up {
    overflow: hidden;
    background: #fff url("../images/cntr-arrows.png") 0px 0px no-repeat;
    width: 62px;
    height: 14px;
    display: block;
    cursor: pointer;
}

.cntr-arrow-down {
    overflow: hidden;
    background: #fff url("../images/cntr-arrows.png") 0px -14px no-repeat;
    width: 62px;
    height: 14px;
    display: block;
    cursor: pointer;
    margin-top: 25px;
}

.cntr-nums {
    background: #eee;
    overflow: hidden;
    width: 62px;
    height: 25px;
    display: block;
    background-color: #fff;
    position: absolute;
}

.cntr-nums > img {
    position: absolute;
}

.counter_m {
    margin-left: 15px;
}























