/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* common styles */

body {
    width: 100%;
    margin: 0;
    font-family: MyriadProRegular;
    font-size: 16px;
}

a, a:hover, a:active, a:visited, a:focus {
    color: #fff;
    text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
}

#map {
   width: 100%;
   height: 600px;
   width: auto\9; /* ie8 */
}

.copyrighter {
    display: table-cell;
    vertical-align: middle;
}

.copyright-sign {
    font-size: 22px;
    display: table-cell;
    vertical-align: middle;
}

.social-btn {
    cursor: pointer;
}

.social-block-btn {
    display: inline-block;    
}

.bibi-btn {
    font-family: MyriadProBold;
    font-size: 16px;
    height: 35px;
    text-align: left;
    padding: 0 15px;
    border-radius: 0;
    width: 100%;
}

.bibi-form-btn {
    font-family: MyriadProBold;
    font-size: 16px;
    height: 45px;
    border-radius: 0;
    width: 100%;
}

.bibi-btn-text {
    float: left;
}

.bibi-btn-caret {
    float: right;
    margin-top: 10px;
}

.bibi-list {
    border-radius: 0;
    width: 100%;
}

.bibi-list > li > a {
    font-family: MyriadProBold;
    font-size: 16px;
    color: #fff;    
}

.bibi-hint {
    font-family: Tahoma;
    font-style: normal;
    font-size: 12px;
    color: #000;
    padding: 2px 10px;
    display: none;
    position: absolute;
    border: 1px solid #000;
}

.arrow {
    display: inline-block;
    width: 30px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.arrow_left {
    background: #fffcf4 url("../images/arrow-left.png") 7px 50% no-repeat;
    left: 0;
}

.arrow_right {
    background: #fffcf4 url("../images/arrow-right.png") 7px 50% no-repeat;
    right: 0;
}

.arrow_left:hover {
    background: #f8f8f7 url("../images/arrow-left.png") 7px 50% no-repeat;
    left: 0;
}

.arrow_right:hover {
    background: #f8f8f7 url("../images/arrow-right.png") 7px 50% no-repeat;
    right: 0;
}

.version {
    position: absolute; 
    right: 0; 
    bottom: 0; 
    color: #fff; 
    font-size: 12px;
}

/* main */

.main {
    position: relative;
}

/* header1 */

.header1 {
    background-color: #38b2ce;
    height: 35px;
}

.menu {
    position: relative;
}

.menu__item {
    font-family: MyriadProBold;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin-right: 30px;
    float: right;
}

.menu__item_mrg-r {
    margin-right: 220px;
}

/* header2 */

.header2 {
    background-color: #071d70;
    height: 100px;
}    

/* logo */

.logo {
    background: #071d70 url("../images/emblem.png") 0 20px no-repeat;
    padding: 20px 0;
    float: left;
    margin: 0 30px;
    cursor: pointer;
}

.logo__bibi-helper {
    font-family: "Berlin Sans FB";
    font-size: 40px;
    text-shadow: 2px 3px 5px #000;
    margin: 0;
    line-height: 40px;
}

.logo__bibi_shift {
    margin-left: 50px;
}

.logo__bibi_color {
    color: #b3dede;
}

.logo__helper_color{
    color: #ff4040;
}

.logo__slogan {
    font-family: MyriadProBold;
    font-size: 14px;
    color: #fff;
    margin: 0 0 0 50px;
}

/* footer */

.pre-footer {
    height: 10px;
    background-color: #38b2ce;
}

.footer {
    height: 100px;
    background-color: #071d70;
    position: relative;
}

.f-menu {
    padding: 30px 30px 0;
    float: left;
}

.f-menu__col {
    width: 190px;
    display: inline-block;
}

.f-menu__col > span {
    font-family: MyriadProBold;
    font-size: 14px;
    color: #fff;
    display: block;
}

.f-block {
    padding: 15px 30px 0;
    float: right;
}

.f-block__social {
    margin-bottom: 10px;
    text-align: right;
}

.f-block__copyright > p {
    font-family: MyriadProBold;
    font-size: 14px;
    color: #fff;
    margin: 0;
}



