/* 
    Created on : 04.10.2015, 14:18:02
    Author     : Leon
*/

/* main */

.main {
    position: relative;
}

/* register response */

.register-response {
    text-align: center;
    background-color: #38B2CE;
}

.register-message {
    color: #fff;
    font-family: MyriadProBold;
    font-size: 16px;
    line-height: 35px;
}

/* search form */

.search {
    position: absolute;
    background-color: rgba(7, 29, 112, 0.9);
    right: 30px;
    top: 45px;
    width: 320px;
}

.search-simple {
    height: 310px;
}

.search-ext {
    height: 530px;
}

.search-headline {
    height: 10px;
    background-color: #38b2ce;
}

.search-form {
    padding: 20px 20px 0px 20px;
}

.search-button, .search-button:hover, .search-button:focus {
    color: #fff;
    text-align: center;
    background-color: #38b2ce;
    height: 35px;
    width: 100%;
}

.search-list {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 0;
    height: 360px;
    overflow: auto;
}

.search-list > li {
    background-color: #e8e6e6;
    margin-bottom: 2px;
}

.search-list > li > a {
    font-family: Tahoma;
    font-size: 14px;
    color: #000;
    white-space: pre-wrap;
}

.search-list > li > a:hover {
    background-color: #a4a1a1;
}

.search-text-button {
    font-family: MyriadProRegular;
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
}

.input-group .search-edit {
    width: 280px;
}

li.search-item-group > span {
    font-family: Tahoma;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background-color: #38b2ce;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    white-space: pre-wrap;
    text-align: right;
    cursor: default;
}

.search-results {
    background-color: rgba(255, 255, 255, 0);
    width: 260px;
}

.srchres-header {
    background-color: rgba(7, 29, 112, 0.9);
}

.srchres-header-title {
    font-family: MyriadProBold;
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
    line-height: 35px;
    display: block;
    text-align: center;
}

.srchres-amount {
    background-color: rgba(235, 232, 227, 0.7);
    height: 30px;
    text-align: center;
}

.srchres-amount-text {
    font-family: MyriadProBold;
    font-size: 14px;
    color: #38b2ce;
    vertical-align: -3px;
}

.srlist-viewport {
    height: 410px;
    overflow: hidden;
    position: relative;
}

.srlist {
    background-color: rgba(235, 232, 227, 0.7);
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}

.srlist-item {
    width: 100%;
    height: 95px;
    padding: 0 35px 0 50px;
    background-color: #b3dede;
    margin: 0 0 10px 0;
    position: relative;
}

.srlist-item:hover {
    background-color: #e2fdfd;
    box-shadow: 3px 3px 10px rgba(12, 12, 12, 0.75), -3px -3px 10px rgba(12, 12, 12, 0.75);
}

.srlist-ittl {
    font-family: MyriadProBold;
    font-size: 16px;
    color: #071d70 !important;
    line-height: 28px;
    display: block;
}

.srlist-iinf {
    font-family: Tahoma;
    font-size: 14px;
    color: #071d70;
    line-height: 20px;
    display: block;
}

.srlist-iptr {
    position: absolute;
    width: 23px;
    height: 32px;
    background: url("../images/pointer-blue.png") no-repeat 0 0;
    left: 14px;
    top: 2px;
}

.srlist-itwh {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../images/twenty-four-hour.png") no-repeat 0 0;
    right: 7px;
    bottom: 7px;
}

.srlist-ispo {
    position: absolute;
    width: 38px;
    height: 38px;
    background: url("../images/spoff.png") no-repeat 0 0;
    left: 7px;
    bottom: 7px;
}

.srlist-arrow {
    height: 30px;
    width: 100%;
    cursor: pointer;
    background-color: rgba(235, 232, 227, 0.7);
}

.srlist-arrow:hover {
    background-color: rgba(235, 232, 227, 1);
}

.srlist-arrow-up {
    background: rgba(235, 232, 227, 0.7) url("../images/arrow-up-a.png") no-repeat 50% 50%;
}

.srlist-arrow-down {
    background: rgba(235, 232, 227, 0.7) url("../images/arrow-down-a.png") no-repeat 50% 50%;
}

.srlist-arrow-up-na {
    background: rgba(235, 232, 227, 0.7) url("../images/arrow-up-na.png") no-repeat 50% 50%;
}

.srlist-arrow-down-na {
    background: rgba(235, 232, 227, 0.7) url("../images/arrow-down-na.png") no-repeat 50% 50%;
}

/* icons */

.icons {
    height: 110px;
    background-color: #fffcf4;
}

.icons-list {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 30px;
}

.icons-list-item {
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    width: 230px;
}

.icons-list-item > img {
    vertical-align: middle;
}

/* all special offers */

.all-special-offers {
    height: 120px;
    background-color: #fffcf4;
}

.all-special-offers-block {
    margin: 15px auto;
    width: 350px;
}

.special-offers-button, .special-offers-button:hover, .special-offers-button:focus {
    color: #fff;
    text-align: center;
    background-color: #38b2ce;
    width: 100%;
}



