/* styles for index */

/* media */

@media all and (max-width: 660px) {

    .header1, .header2, .main, .icons, .special-offers-header, .special-offers, .all-special-offers, .pre-footer, .footer {
        width: 660px;
    }

}

/* button city */

.city {
    float: right;
    padding: 32.5px 0;
    margin: 0 30px;
}

.bibi-btn_city, .bibi-btn_city:hover, .bibi-btn_city:focus {
    color: #fff;
    background-color: #38b2ce;
    width: 180px;
}

.bibi-list_city {
    background-color: #38b2ce;
    border-color: #38b2ce;
}

/* search form */

.search {
    position: absolute;
    background-color: rgba(7, 29, 112, 0.9);
    right: 30px;
    top: 45px;
}

.search_simple {
    width: 320px;
    height: 310px;
}

.search_ext {
    width: 320px;
    height: 520px;
}

.search__headline {
    height: 10px;
    background-color: #38b2ce;
}

.search__form {
    padding: 20px 20px 0px 20px;
}

.form__block {
    margin-bottom: 10px;
}

.form__caption {
    font-family: MyriadProBold;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    display: block;
}

.form__caption_tw {
    margin-right: 12px;
}

.form__cbx {
    display: none;
}

.form__check {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-top: -2px;
    background: url("../images/cbx.png") no-repeat -25px 0;
    cursor: pointer;    
}

.form__ext-s-btn {
    font-family: MyriadProRegular;
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
}

.bibi-btn_search-form {
    width: 280px;
    background-color: #fff;
}

.bibi-list_form {
    background-color: #fff;
    border-color: #fff;
}

.bibi-list_form > li > a {
    color: #071d70;
}

.bibi-form-btn_search, .bibi-form-btn_search:hover, .bibi-form-btn_search:focus {
    width: 280px;
    color: #fff;
    background-color: #38b2ce;
}

.bibi-btn-caret_blue {
    color: #071d70;
}

.input-group .bibi-form-edit {
    width: 280px;
}

/* icons */

.icons {
    height: 110px;
    background-color: #fffcf4;
}

.icons__i-list {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 30px;
}

.i-list__item {
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    width: 230px;
}

/* special offers */

.special-offers-header {
    background-color: #071d70;
}

.special-offers-header__title {
    font-family: MyriadProBold;
    font-size: 18px;
    color: #fff;
    line-height: 35px;
    display: block;
    width: 235px;
    margin: 0 auto;
}

.special-offers {
    background-color: #fffcf4;
}

/* slider */

.slider {
    background-color: #fffcf4;
}

.slider-row {
    font-size: 0;
    overflow: hidden;
    position: relative;
}

.slider__viewport {
    list-style: none;
    position: absolute;
    left: 30px;
    top: 0;
    margin: 0;
    padding: 0;
}

.slider__col {
    display: inline-block;
    width: 350px;
    margin: 0 10px;
}

@media all and (max-width: 880px) {

    .slider-row {
        width: 430px;
        margin: 0 auto;
    }
}

@media all and (min-width: 880px) and (max-width: 1200px) {

    .slider-row {
        width: 800px;
        margin: 0 auto;
    }
}

.slider-row_top {
    height: 55px;
    padding: 0 30px;
}

.slider-row_middle {
    height: 210px;
}

.slider-row_bottom {
    height: 75px;
    padding: 0 30px;
}

.slider__col-header {
    padding-top: 15px;
    font-family: MyriadProBold;
    font-size: 18px;
    color: #071d70;
    text-align: center;
}

.slider__col-footer {
    height: 75px;
    padding: 15px 10px 0 10px;
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    color: #000;
    text-align: center;
}

/* all special offers */

.all-special-offers {
    height: 120px;
    background-color: #fffcf4;
}

.all-special-offers__btn {
    margin: 15px auto;
    width: 350px;
}

.bibi-form-btn_sp-off, .bibi-form-btn_sp-off:hover, .bibi-form-btn_sp-off:focus {
    width: 350px;
    color: #fff;
    background-color: #38b2ce;
}

