Options All -Indexes
Options +FollowSymlinks
IndexIgnore */*

<FilesMatch "(.htaccess|.bowerrc|.gitignore|yii|yii.bat|.json|.lock|requirements.php|index-test.php)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

RewriteEngine on

# server
RewriteRule ^(.+)?$ /web/$1

# local
#RewriteRule ^(.+)?$ /BiBiHelper/bibihelper/bibihelper/web/$1

